
	#egg {
		transform: scale(0.55) rotateX(30deg);
		margin: auto;
		display: block;
		width: 132px;
		height: 174px;
		background-color: #d8d8d8;
		background: linear-gradient(229deg,#f2fffb, #246655, #9e3a3a, #e0e0e0, #3391ee);
		background-size: 800% 800%;
		-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
		border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
		box-shadow: 0px 15px 24px -10px #595959;
		-webkit-animation: AnimationName 18s ease infinite;
		-moz-animation: AnimationName 18s ease infinite;
		animation: AnimationName 12s ease infinite;
		transition: 0.5s;
	}
	
    .eggContainer {
		transition: 0.3s;
		text-align: center;
        border-radius: 10px;
        background: #ffffff;
        padding: 30px;
        vertical-align: middle;
    }

    .eggContainer h1,h3 {
        color: #a1a1a1;        
    }

    .eggContainer h3 {
        color: #a1a1a1;        
    }

    .eggContainer:hover h1 {
        color: #444;       
    }
    
	.earth {
		color: #ffac68 !important;
	}

	.fire {
		color: #ff6d6d !important;
	}

	.air {
		color: #a6ffc8 !important;
	}

	.water {
		color: #6fbcff !important;
	}

	@-webkit-keyframes AnimationName {
		0% {
			background-position: 0% 96%;
		}
		50% {
			background-position: 100% 5%;
		}
		100% {
			background-position: 0% 96%;
		}
	}
	@-moz-keyframes AnimationName {
		0% {
			background-position: 0% 96%;
		}
		50% {
			background-position: 100% 5%;
		}
		100% {
			background-position: 0% 96%;
		}
	}
	@keyframes AnimationName {
		0% {
			background-position: 0% 96%;
		}
		50% {
			background-position: 100% 5%;
		}
		100% {
			background-position: 0% 96%;
		}
	}