
.pointer {
	cursor: pointer;
}

/********* Text Colors ***********/

.c-black {
	color:black;
}

.c-grey {
	color: #999999;
}

.ta-c {
	text-align: center;
}

.ta-l {
	text-align: left;
}

.ta-r {
	text-align: right;
}
